<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="type">Sitecore.Support.Links.LinkProvider, Sitecore.Support.93141</patch:attribute>
        </add>
      </providers>
    </linkManager>
    <mediaLibrary>
      <mediaProvider>
        <patch:attribute name="type">Sitecore.Support.Resources.Media.MediaProvider, Sitecore.Support.93141</patch:attribute>
      </mediaProvider>
    </mediaLibrary>
  </sitecore>
</configuration>